# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules/

# Firebase admin secrets & scripts
/scripts/serviceAccountKey.json
/scripts/*.json

# env files
.env
.env.local

# build output
dist/
build/

# firebase
.firebase/
firebase-debug.log

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
