.rewards-page {
  max-width: 800px;
  margin: 0 auto;
}

.page-title {
  font-size: 24px;
  margin-bottom: 12px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 6px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Stats */
.stats-card {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stat .label {
  font-size: 16px;
  color: #666;
}

.stat .value {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

/* Rewards */
.section-title {
  margin-bottom: 12px;
  font-size: 16px;
  color: rgb(67, 66, 66);
}

.rewards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.reward-item {
  border: 1px solid #2f2c2c;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
}

.reward-item img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.reward-name {
  font-size: 14px;
  margin-top: 6px;
}

.reward-coins {
  font-size: 14px;
  color: #555;
}

.coming-soon {
  text-align: center;
  font-size: 16px;
  color: #fefcfc;
}

.question-page {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  color: #2f2c2c;
}
.leaderboard-page {
  max-width: 800px;
  min-height: 1000px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  color: #2f2c2c;
}
.leaderboard-tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.tab-btn {
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.tab-btn:hover {
  background: #f3f3f3;
}

.tab-btn.active {
  background: #97096a;
  color: white;
  border-color: #97096a;
}
